
<html>
<head>
    <title>Wei He</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Mr. Wei He has a Master of Engineering in Electrical Engineering at MUN.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        data assimilation,
        paleoclimate
        machine learning
    '>
    <meta name='author' content='Wei He'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    <!-- {% include mathjax.html %} -->
</head>
<body>
    <!-- {% include nav.html %} -->
    <div id='blog' class='wrap'>

      <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
              <tr style="padding:0px">
                <td style="padding:0%;width:65%;vertical-align:middle">
                  <p style="text-align:center">
                    <h2>Wei He</h2>
                  </p>
                  <!-- bio -->
                  <p>Mr. Wei He has a Master of Engineering degree in Electrical Engineering at the <a href="https://www.mun.ca/engineering/ece/">Electrical and Computer Engineering Department</a>, <a href="https://www.mun.ca/">Memorial University of Newfoundland</a>, researching on Supervisory Controller and Data Acquisition, IoT, and embedded systems, supervised by Prof. <a href="https://www.mun.ca/engineering/about/our-people/m-tariq-iqbal/">Tariq Iqbal</a>. 
                  </p>
                  <p> I can be reached out by weih@mun.ca</p>
                  <p style="text-align:center">
                    <!-- <a href="mailto:jonbarron@gmail.com">Email</a> &nbsp/&nbsp -->
                    <!-- <a href="data/JonBarron-CV.pdf">CV</a> &nbsp/&nbsp -->
                    <!-- <a href="data/JonBarron-bio.txt">Bio</a> &nbsp/&nbsp -->
                    <a href='/CV/cv.pdf'>CV</a> &nbsp/&nbsp
                    <a href="https://scholar.google.com/citations?user=Pw5bxVIAAAAJ&hl=en">Google Scholar</a> &nbsp/&nbsp
                    <!-- <a href="https://twitter.com/zhongrui_wang">Twitter</a> &nbsp/&nbsp -->
                    <a href="https://github.com/weihe98/">Github</a>
                  </p>
                </td>
                <td style="padding:2.5%;width:30%;max-width:35%">
                  <a href="images/AGU_auto.jpg"><img style="width:100%;max-width:100%" alt="profile photo" src="images/AGU_auto.jpg" class="hoverZoomLink"></a>
                </td>
              </tr>
            </tbody></table>

    </div>
</body>
</html>
